/* css styles */

/* Links in main content */
.content a {
  color: #394955 !important;
}

.content a:hover {
  color: #2c3842 !important;
}

.roundedimg {
    border-radius: 80%;
  }

.centered {
    text-align: center !important;
    fig-align: center !important;
}
